header{
    background-image: url(Images/building.jpg);
    background-size: cover;
    color: white;
    margin: 1rem;
    text-align: center;
    padding: 1rem;
}
nav{
    text-align: center;
}
nav>a{
    color: white;
    padding: 1rem;
}
body{
    background-color: #F15A29;
    margin: 1rem;
}
h1, h2{
    text-align: center;
    margin: .5rem;
}
ul{
    list-style: none;
    padding-left: 0;
}
img{
    max-width: 100%;
    width: 100%;
}
.contactus{
    background-color: white;
    color: #F15A29;
    text-align: center;
    padding-bottom: 1rem;
}
.menu div{
    display: inline-block;
    width: 47%;
    vertical-align: top;
    margin-right: .5rem;
}
nav>a:hover{
    background-color: #F15A29;
}
@media (min-width: 1200px){
img{
    max-width: 24%;
    vertical-align: top;
}
header>Img{
    max-width: 100%;
}
header{
    background-size: 100%;
    margin: 3rem;
    padding: 2rem;
    font-size: 150%;
}
header>h1{
    font-size: 175%;
}
h1{
    font-size: 250%;
}
ul{
    margin: 1rem;
    padding-left: 5rem;
}
h1, h2, h3{
    margin: .20rem;
}
h3{
    text-align: center;
}
.contactus{
    margin: 5rem;
}
.contactus>ul{
    font-size: 500%;
}
.menu div{
    padding: 0rem;
}
}