header{
    background-color: bisque;
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 2rem;
    padding: 2rem;
    text-align: center;
    font-weight: 400;
    font-size: 2rem;
}
main{
    font-family: 'Times New Roman', Times, serif;
    background-color: aquamarine;
    color: blueviolet;
}
h2{
    text-align: center;
    padding: 1rem;
}
p{
    font-weight: 800;
   margin: 2rem;
   font-size: 1rem;
}